SRC_DIR=/glade/work/afoster/ABoVE/calibration_update/CTSM
CASE_DIR=/glade/work/afoster/ABoVE/calibration_update/cases
USER_MODS_DIR=/glade/work/afoster/ABoVE/above_nwt/user_mods
COMPSET=I1PtClm60Fates
CASENAME=NWT_shrub
CHARGENUM=P08010000
STOP_N=20
RESUBMIT=4
LAT=60.95233
LON=242.63
SITE=SS3-30
SURDAT_FILE=surfdata_SS3-30_hist_2000_16pfts_c260421.nc
