SRC_DIR=/glade/work/afoster/ABoVE/calibration_update/CTSM
CASE_DIR=/glade/work/afoster/ABoVE/calibration_update/cases
USER_MODS_DIR=/glade/work/afoster/ABoVE/above_nwt/user_mods
COMPSET=I1PtClm60Fates
CASENAME=NWT_jack_pine
CHARGENUM=P08010000
STOP_N=20
RESUBMIT=4
LAT=62.25877
LON=243.63
SITE=ZF46-VAL3
SURDAT_FILE=surfdata_ZF46-VAL3_hist_2000_16pfts_c260421.nc
