SRC_DIR=/glade/work/afoster/ABoVE/calibration_update/CTSM
CASE_DIR=/glade/work/afoster/ABoVE/calibration_update/cases
USER_MODS_DIR=/glade/work/afoster/ABoVE/above_nwt/user_mods
COMPSET=I1PtClm60Fates
CASENAME=NWT_larch
CHARGENUM=P08010000
STOP_N=20
RESUBMIT=4
LAT=62.211832
LON=243.68
SITE=ZF46-VAL301
SURDAT_FILE=surfdata_ZF46-VAL301_hist_2000_16pfts_c260421.nc
